<%= form_for @training do |f| %>

	<% if @training.errors.any? %>
    	<div id="error_explanation">
      		<h2>
        		<%= pluralize(@training.errors.count, "error") %> prohibited
        		this training from being saved:
      		</h2>
      		<ul>
        		<% @training.errors.full_messages.each do |msg| %>
          		<li><%= msg %></li>
        		<% end %>
      		</ul>
    	</div>
  	<% end %>

  <div class="form-group">
    <%= f.label :date, :class => "control-label" %><br>
    <%= f.date_field :date, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => "control-label" %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :weight, :class => "control-label" %><br>
    <%= f.text_field :weight, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :user_id, :value => @user_id %>
  </div>
  <div class="form-group">
    <%= f.submit nil, :class => "btn btn-default btn-lg", :value => "Сохранить" %>
  </div>

<% end %>