<!-- <h3>Упражнения</h3> -->

<%= link_to 'Записать результат', new_training_path, :class => "btn btn-primary btn-lg btn-block" %>

<br />

<% trainings_by_date = @trainings.group_by(&:date) %>

<% trainings_by_date.each do |t| %>
  <h4><%= Russian::strftime(t[0], "%e %b, %Y").split(',').join(',<small>').html_safe %></small></h4>
  <div class="list-group">
  <% t[1].each do |z| %> 
    <a class="list-group-item"><%= z.name %> <span class="pull-right"><%= z.weight %></span></a>
  <% end %>
  </div>
<%end %>

<%= link_to 'Выйти', '/log-out/', :class => "btn btn-default btn-lg btn-block" %>
