<h3>Тренировки</h3>

<%= link_to 'Новое упражнение', new_training_path %>

<br />

<table>
  <tr>
    <th>Дата</th>
    <th>Название</th>
    <th>Вес</th>
  </tr>
 
  <% @trainings.each do |training| %>
    <tr>
      <td><%= training.date %></td>
      <td><%= training.name %></td>
      <td><%= training.weight %></td>
      <td><a href="<%= edit_training_path(training) %>"><%= image_tag 'edit.png' %></a></td>

      <td><%= link_to 'Destroy', training_path(training),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= @training_list.inspect %>