<h3>Регистрация</h3>
<%=form_for User.new do |f| %>
	<% if @user.errors.any? %>
	<% end %>
    
    <% @user.errors.full_messages.each do |msg| %>
    	<p><%= msg %></p>
    <% end %>

	<div class="form-group">
		<%=f.label :email, :class => "control-label" %>
		<%=f.text_field :email, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%=f.label :password, :class => "control-label" %>
		<%=f.password_field :password, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%=f.label :password_confirmation, :class => "control-label" %>
		<%=f.password_field :password_confirmation, :class => "form-control" %>
	</div>
	
	<div class="form-group">
		<%=f.submit nil, :class => "btn btn-primary btn-lg btn-block", :value => "Зарегистрироваться" %>
	</div>

<%end%>
